language: node_js
node_js:
  - 'stable'

install:
  - npm i

script: 
  - npm run build
  - npm run test -- --coverage

after_script:
  - AQXVIrV707xp5B1w1fGD2euoGE9bH4M1S=$coveralls_repo_token npm run coveralls

nofication:
  email: false